<!-- templates/lagerhouse/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lagerhouse Home</title>
</head>
<body>
    <h1>Welcome to the Lagerhouse!</h1>
    <ul>
        <li><a href="{% url 'category-list' %}">Categories</a></li>
        <li><a href="{% url 'supplier-list' %}">Suppliers</a></li>
        <li><a href="{% url 'product-list' %}">Products</a></li>
        <li><a href="{% url 'product-detail-list' %}">Product Details</a></li>
        <li><a href="{% url 'address-list' %}">Addresses</a></li>
        <li><a href="{% url 'customer-list' %}">Customers</a></li>
        <li><a href="{% url 'order-list' %}">Orders</a></li>
        <li><a href="{% url 'order-item-list' %}">Order Items</a></li>
        <li><a href="{% url 'yourmodel-list' %}">Your Model</a></li>
    </ul>
</body>
</html>