<!-- templates/lagerhouse/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lagerhouse Home</title>
</head>
<body>
    <h1>Welcome to the Lagerhouse!</h1>
    <ul>
        <li><a href="{% url 'category-list-create' %}">Categories</a></li>
        <li><a href="{% url 'supplier-list-create' %}">Suppliers</a></li>
        <li><a href="{% url 'product-list-create' %}">Products</a></li>
        <li><a href="{% url 'productdetail-list-create' %}">Product Details</a></li>
        <li><a href="{% url 'address-list-create' %}">Addresses</a></li>
        <li><a href="{% url 'customer-list-create' %}">Customers</a></li>
        <li><a href="{% url 'order-list-create' %}">Orders</a></li>
        <li><a href="{% url 'orderitem-list-create' %}">Order Items</a></li>
        <li><a href="{% url 'yourmodel-list-create' %}">Your Model</a></li>
    </ul>
</body>
</html>