<!-- templates/project_tasks/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Tasks Home</title>
</head>
<body>
    <h1>Welcome to the Project Tasks!</h1>
    <ul>
        <li><a href="{% url 'event-list' %}">Events</a></li>
        <li><a href="{% url 'task-list' %}">Tasks</a></li>
        <li><a href="{% url 'project-list' %}">Projects</a></li>
        <li><a href="{% url 'tag-list' %}">Tags</a></li>
        <li><a href="{% url 'projectfile-list' %}">Project Files</a></li>
    </ul>
</body>
</html>